.cfp-root {
  --color-grey-225-10-15: hsl(225, 10%, 15%);
  --color-grey-225-10-35: hsl(225, 10%, 35%);
  --color-grey-225-10-55: hsl(225, 10%, 55%);
  --color-grey-225-10-75: hsl(225, 10%, 75%);
  --color-grey-225-10-80: hsl(225, 10%, 80%);
  --color-grey-225-10-85: hsl(225, 10%, 85%);
  --color-grey-225-10-90: hsl(225, 10%, 90%);
  --color-grey-225-10-95: hsl(225, 10%, 95%);
  --color-grey-225-10-97: hsl(225, 10%, 97%);

  --color-blue-205-100-45: hsl(205, 100%, 45%);
  --color-blue-205-100-50: hsl(205, 100%, 50%);
  --color-blue-205-100-80: hsl(205, 100%, 80%);
  --color-blue-205-100-95: hsl(205, 100%, 95%);

  --color-green-150-86-44: hsl(150, 86%, 44%);

  --color-red-360-100-40: hsl(360, 100%, 40%);
  --color-red-360-100-45: hsl(360, 100%, 45%);
  --color-red-360-100-92: hsl(360, 100%, 92%);
  --color-red-360-100-97: hsl(360, 100%, 97%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --border-color: var(--color-grey-225-10-85);
  --background-color: var(--color-grey-225-10-95);
  --palette-background-color: var(--color-grey-225-10-97);
  --properties-background-color: var(--color-grey-225-10-97);
  --properties-group-background-color: var(--color-grey-225-10-97);
  --properties-input-background-color: var(--color-white);
  --properties-arrow-hover-background-color: var(--color-grey-225-10-90);
  --container-background-color: var(--color-white);
  --cm-background-color: var(--color-white);
  --drag-container-border-color: var(--color-grey-225-10-80);

  --form-container-max-width: 1200px;
  --collapsible-cursor: default;
  --drag-cursor: default;

  --font-family: 'IBM Plex Sans', system-ui, Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', monospace;
}

.cfp-container {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
}

.cfp-root {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex: 1;
  background-color: var(--background-color);
}

.cfp-root .cfp-left,
.cfp-root .cfp-right {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-right: solid 1px var(--border-color);
  border-left: solid 1px var(--border-color);
}

.cfp-root.cfp-open-preview .cfp-left {
  margin-right: 6px;
}

.cfp-root:not(.cfp-open-preview) .cfp-right {
  flex: none;
  width: 35px;
  border-left: none;
}

.cfp-root .cfp-editor-container,
.cfp-root .cfp-data-container,
.cfp-root .cfp-preview-container,
.cfp-root .cfp-result-container {
  overflow: auto;
  background-color: var(--container-background-color);
}

.cfp-root .cfp-data-container,
.cfp-root .cfp-result-container {
  position: relative;
}

.cfp-root [data-idx="form-definition"] {
  border-top: none;
  flex: 2;
}

.cfp-root [data-idx="form-definition"] .cfp-collapsible-panel-title {
  cursor: default;
}

.cfp-root [data-idx="form-input"] {
  flex: 1;
}

.cfp-root [data-idx="form-preview"] {
  border-top: none;
  flex: 2;
}

.cfp-root [data-idx="form-output"] {
  flex: 1;
}

.cfp-root:not(.cfp-open-preview) [data-idx="form-input"],
.cfp-root:not(.cfp-open-preview) [data-idx="form-output"],
.cfp-root:not(.cfp-open-preview) [data-idx="form-preview"] {
  display: none;
}

.cfp-root .fjs-container {
  max-width: var(--form-container-max-width);
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cfp-root .fjs-editor-container {
  display: inherit;
}

.cfp-root .cfp-collapsible-panel .cm-editor {
  background-color: var(--cm-background-color);
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cfp-root .cfp-collapsible-panel .cm-editor .cm-scroller {
  overflow: auto !important;
  font-family: var(--font-family-monospace);
}

.cfp-root .cfp-palette {
  background-color: var(--palette-background-color);
  overflow: auto;
}

.cfp-root .cfp-palette .fjs-palette-container {
  border-right: none;
  width: auto;
  height: 100%;
}

.cfp-root .cfp-palette .fjs-hide-compact {
  display: none;
}

.cfp-root .cfp-palette .fjs-palette {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cfp-root .cfp-palette .fjs-palette-fields {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.cfp-root .cfp-palette .fjs-palette-field {
  justify-content: center;
  flex-direction: column;
}

.cfp-root .cfp-palette .fjs-palette-field-icon {
  margin: 0;
}

.cfp-root .cfp-palette .fjs-palette-header {
  text-align: center;
}

.cfp-root .cfp-properties {
  position: relative;
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.cfp-root .cfp-properties .fjs-properties-container {
  --properties-panel-width: 300px;
  --color-properties-container-background: var(--properties-background-color);
  border-left: none !important;
}

.cfp-root .cfp-properties .bio-properties-panel {
  --input-background-color: var(--properties-input-background-color);
  --group-background-color: var(--properties-group-background-color);
  --arrow-hover-background-color: var(--properties-arrow-hover-background-color);
}

/**
 * Custom Dragula Styles
 *
 * @pinussilvestrus: remove me once this is fixed: https://github.com/bpmn-io/form-js/issues/462
 */
.cfp-root .fjs-children.fjs-drag-container {
  border: 2px dashed transparent;
}

.gu-unselectable .cfp-root .fjs-children.fjs-drag-container {
  cursor: var(--drag-cursor);
}

@media only screen and (min-width: 1650px) {
  .gu-unselectable .cfp-root:not(.cfp-open-preview) .fjs-children.fjs-drag-container {
    border: 2px dashed var(--drag-container-border-color);
  }
}