:root {
  --font-family: 'IBM Plex Sans', system-ui, Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', monospace;
  --font-size-default: 14px;
}

html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-size: var(--font-size-default);
}

.bio-properties-panel {
  --font-family: var(--font-family);
}